* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

//THESE ARE SOME OF THE FONTS I USED
@font-face {
  font-family: quicksandR;
  src: url(fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: quicksandL;
  src: url(fonts/Quicksand-Light.ttf);
}
@font-face {
  font-family: quicksandB;
  src: url(fonts/Quicksand-Bold.ttf);
}
